.notificationBar {
    background-color: red; /* Green background */
    color: white;
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Hide overflowing text */
    z-index: 1000;
    font-weight: bold;
  }

  /* Sliding text styles */
.slidingText {
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: slide-left 10s linear infinite;
    text-transform: uppercase;
  }
  
  @keyframes slide-left {
    from {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
      transform: translateX(-100%); /* Move off-screen to the left */
    }
  }