.header{
    height: 50px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginButton{
    padding: 10px;
    border-radius: 5px;
    background-color: #2196F3;
}

.aboutApplication{
    text-align: left;
}

.openModal{
    cursor: pointer;
    text-transform: uppercase;
}

.applicationButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .application-button:hover {
    background-color: #45a049;
  }