.header{
    height: 50px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginButton{
    padding: 10px;
    border-radius: 5px;
    background-color: #2196F3;
}