.mainContainer {
    display: flex;
    flex-direction: column;
    height: auto; /* Ensures content adjusts correctly */
}

.tableWrapper {
    max-height: 60vh; /* Set the maximum height for the table body */
    overflow-y: auto; /* Makes only the table body scrollable */
    margin-bottom: 20px; /* Space between table and footer */
    width: 100%; /* Ensures it takes up the full width */
}

table {
    width: 90%; /* Reverted to previous 90% width */
    margin: 20px auto;
    border-radius: 8px;
    border-collapse: collapse;
}

td, th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Soft divider between rows */
}

th {
    background-color: #1a4967; /* Slightly darker shade of the tabs color */
    color: white;
    padding: 12px 15px;
    position: sticky; /* Keeps header fixed at the top */
    top: 0; /* Ensures header stays at the top */
    z-index: 1; /* Keeps the header above the rows */
}

tr {
    height: 50px; /* Increased row height for readability */
    transition: background-color 0.3s ease;
}

tr:nth-child(odd) {
    background-color: #e6f7e6; /* Softer green */
}

tr:nth-child(even) {
    background-color: #e1f0ff; /* Softer cyan */
}

tr:hover {
    background-color: #f0f0f0; /* Light gray hover effect */
    cursor: pointer;
}

.loading-state {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
